<?xml version="1.0"?>
<config>
  <modules>
    <Kodematix_Featureproduct>
      <version>0.1.0</version>
    </Kodematix_Featureproduct>
  </modules>
  <frontend>
    <routers>
      <featureproduct>
        <use>standard</use>
          <args>
            <module>Kodematix_Featureproduct</module>
            <frontName>featureproduct</frontName>
          </args>
      </featureproduct>
    </routers>
		<layout>
		  <updates>
			<featureproduct>
			  <file>featureproduct.xml</file>
			</featureproduct>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <featureproduct>
        <class>Kodematix_Featureproduct_Helper</class>
      </featureproduct>
    </helpers>
	<blocks>
	  <featureproduct>
		<class>Kodematix_Featureproduct_Block</class>
	  </featureproduct>
	</blocks>
	<resources>
	  <featureproduct_setup>
		<setup>
		  <module>Kodematix_Featureproduct</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </featureproduct_setup>
	  <featureproduct_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </featureproduct_write>
	  <featureproduct_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </featureproduct_read>
	</resources>
  </global>
   <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <featureproduct>
                                            <title>Kodematix Extension</title>
                                        </featureproduct>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	 <default>
        <featureproduct>
            <featureproduct_general>
                <enabled>1</enabled>
            </featureproduct_general>
			<homepage_setting>
				<enabled_homepage>1</enabled_homepage>
				<maxSlides>4</maxSlides>
			</homepage_setting>
			<rightblock_setting>
				<enabled_rightblock>0</enabled_rightblock>
				<minSlides>1</minSlides>
			</rightblock_setting>
			<content_setting>
				<enabled_contentblock>0</enabled_contentblock>
				<slide_itemsonpage>4</slide_itemsonpage>
			</content_setting>
			<horizontal_carousels_setting>
				<title>Featured Product</title>
				<product_no>20</product_no>
				<slideWidth>230</slideWidth>
				<autoslider>1</autoslider>
				<slider_mode>horizontal</slider_mode>
				<slider_speed>100</slider_speed>
				<slide_Margin>10</slide_Margin>
			</horizontal_carousels_setting>
			<jquery_enable>
				  <enabled_jquery>1</enabled_jquery>
			</jquery_enable>
		</featureproduct>
    </default>
</config> 